
footer {
    position: fixed;
    bottom: 0px;
    display: flex;
    background-color: $header-color;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    font-size: 1.8em;

}

.foot {
    display: flex;
    justify-content: space-around;
    width: 100%;

    p {
        animation-name: shake;
        animation-duration: 0.8s;
        animation-iteration-count: infinite;

        a {
            color: $foot-color;
            text-decoration: none;
            font-family: helvetica, sans-serif;
        }
    }
}