.button {
    width: 280px;
    padding: 10px 0px 10px 30px;
    font-size: 2em;
    border-radius: 10px;
    display: flex;
    margin: 23px auto 100px;
    background: $header-color;
    color: $foot-color;
    height: 40px;
    align-items: center;
    justify-content: flex-start;
    font-family: Helvetica, sans-serif;}