@font-face {
    font-family: "Satisfy";
    src: url("../font/Satisfy/Satisfy.ttf") format("truetype");
}

@font-face {
    font-family: "Handlee";
    src:url("../font/Handlee/Handlee.ttf") format("truetype");
}

@font-face {
    font-family: "jomolhari";
    src:url("../font/jomolhari/Jomolhari.ttf")format("truetype");
}

@font-face {
    font-family: "dancing";
    src:url("../font/dancing/Dancing.ttf")format("truetype");
}

@font-face{
    font-family: "kaushan";
    src: url("../font/kaushan/Kaushan.ttf") format("truetype");
}