

body {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "handlee";
}

div h1 {
    text-align: center;
    font-family: sans-serif;
}

.palette {
    @include main-menu;
    background-color: $background-delice;


    .prix {
        font-weight: bold;
    }
}

.titre-palette {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-family: "dancing", sans-serif;
        background: linear-gradient(to right, $background-palette-linear);
        @include background-clip1;
        color: transparent;
        font-size: 2.2em;
        margin-top: 60px;
    }
}


a {
    text-decoration: none;
    color: black;
    @include suli;
}



header {
    text-align: center;
}


.Esquisse,
.Oeuvre,
.art {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &::before {
        content: '';
        background: linear-gradient(to right, $background-palette-linear);
        color: transparent;
        width: 150px;
        height: 5px;
    }

    &::after {
        content: '';
        background: linear-gradient(to left, $background-palette-linear);
        color: transparent;
        width: 150px;
        height: 5px;
    }
}




ul {
    margin-top: 0px;
    padding: 0px 20px 30px 20px;

    li {
        display: flex;
        justify-content: space-between;
        line-height: 2em;
        

        p {
            margin: 0px;

        }
    }
}

@media screen and (max-width:700px) {

    body {
        display: flex;
        align-items: unset;
    }

    .palette {
        width: 100%;
    height: 100%;
    margin: 0px 0px 250px;
    padding: 0px;
    }

    .logo img {
        width: 69%;
    }

    .foot {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer {
        height: unset;
        font-size: 1em;

    }

    ul {
        text-align: center;
        margin: auto;

        li {
            display: flex;
            justify-content: space-between;
            line-height: 2em;

            p {
                margin-left: 10px;

            }
        }
    }

    span {
        font-size: 1.2em;
        font-weight: bold;


    }

    ul li {

        display: flex;
        padding: 12px;
        flex-direction: column;
        align-items: center;
    }

    .Oeuvre,
    .art,
    .Esquisse {
        &::before {
            height: 1px;
        }

        &::after {
            height: 1px;
        }

    }


}