
@media screen and (min-width: 1080px) {
    body {
        width: 100%;
        max-width: none;
    }

    header {
        width: 100%;
        max-width: none;
    }

    .logo {
        max-width: none;
    }

    article {
        display: flex;
        align-items: CENTER;
        flex-direction: column;
    }

    .Menu {
        width: 983px;
    }

    .prochainement {
        margin: 25px auto 100px;
    }

    footer {
        width: 100%;
        max-width: none;
    }
}

@media screen and ( max-width:800px ) {
    article {
        display: block; 
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width:656px) {
    .logo img {
        width: 69%;
    }

    .foot {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer {
        height: unset;

    }

    article {
        margin: 10px 10px 118px;
    }

}