// variables

$header-color: red;
$width-bloc:300px;
$height-bloc:400px;
$foot-color:#FDC100;

// background menu
$background-note:#FFE1DC;
$background-chic:#fff9ff;
$background-delice:white;
$background-palette:#FFF;

// box shadow menu
$box-shadow:1px 5px 20px #a0a0a0;

// background linear menu
$background-palette-linear: #0C9C00,
#D5FFCF;
$background-chic-linear:#E17907,
#9009E1;
$background-note-linear:#FF421A,
#FF7153;
$background-delice-linear:#051DE1,
#028AE1;